.common-hero {
    display: grid;
    grid-template-columns: [full-start] minmax(15px, 1fr) [center-start] repeat(12, [col-start] minmax(20px, 110px) [col-end]) [center-end] minmax(15px, 1fr) [full-end]; 
    align-items: center;

    @include xl {
        grid-template-columns: [full-start] minmax(15px, 1fr) [center-start] repeat(12, [col-start] minmax(20px, 95px) [col-end]) [center-end] minmax(15px, 1fr) [full-end]; 
    }    
    @include lg { 
        grid-template-columns: [full-start] minmax(15px, 1fr) [center-start] repeat(12, [col-start] minmax(20px, 80px) [col-end]) [center-end] minmax(15px, 1fr) [full-end]; 
    }
    @include md { 
        grid-template-columns: [full-start] minmax(15px, 1fr) [center-start] repeat(12, [col-start] minmax(20px, 60px) [col-end]) [center-end] minmax(15px, 1fr) [full-end]; 
    }
    @include sm { 
        grid-template-columns: [full-start] minmax(15px, 1fr) [center-start] repeat(12, [col-start] minmax(20px, 45px) [col-end]) [center-end] minmax(15px, 1fr) [full-end]; 
    }
    
    .image-wrapper {
        min-height: 265px;
        height: 28.6vh;
        grid-column: full-start / full-end;
        grid-row: 1 / span 1;
        overflow: hidden;

        .image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
    }

    .content-wrapper {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;
        overflow: hidden;

        .content {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            min-width: 550px;
            background-color: rgba($white, .8);
            padding: 8px 20px;
            overflow: hidden;
            min-height: 160px;
            @include xs {
                padding: 8px 20px;
                min-width: 0;
                width: 100%;
            } 
        }
    }

    .common-hero-heading {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        /* autoprefixer: off /
        -webkit-box-orient: vertical;
        / autoprefixer: on */
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
        margin-bottom: 0;
    }

} /* end common-hero */