.mobile-navigation-wrapper {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50vw;
    min-width: 320px;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: .25s all ease-in;
    background-color: $white;
    z-index: 99999;
    border-top: 10px solid $text-dark;
    @media (min-width: 993px) {
        display: none;
    }

    .mobile-navigation {
        padding: 30px;
        ul {
    
            li {
                position: relative;

                &.menu-item-has-children {
                    a {
                        padding-right: 50px;
                    }
                }

                a {
                    display: block;
                    padding: 10px 0;
                    color: $text-dark;
                    border-bottom: 1px solid rgba($text-light, .5);
                    transition: .3s all ease;
    
                    &:hover {
                        color: $text;
                    }
                }

                .nav-item-toggler {
                    display: flex;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 45px;
                    height: 38px;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 4px;
                        bottom: 4px;
                        height: calc(100% - 8px);
                        width: 100%;
                        border-left: 1px solid rgba($text-light, .5);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 14px;
                        left: 19.5px;
                        border-style: solid;
                        border-width: 0 0 1px 1px;
                        display: inline-block;
                        height: 6px;
                        transform: rotate(-45deg);
                        vertical-align: top;
                        width: 6px;
                        transition: .3s all ease;
                        color: $text-dark;
                    }

                    i {
                        font-size: 14px;
                        display: inline-block;
                        transition: .3s all ease;
                    }

                    &.expanded {
                        &::after {
                            transform: rotate(135deg);
                            top: 17px;
                            color: $text;
                        }
                    }
                }

                .sub-menu {
                    padding-left: 20px;
                    display: none;
                } 
            }

        }
    }

}

.page-overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, .5);
    visibility: hidden;
    opacity: 0;
    transition: .25s all ease;
    z-index: 99997;

    @media screen and (min-width: 993px) {
        display: none;
    } 
}

body.mobile-navigation-active {
    .mobile-navigation-wrapper {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .page-overlay {
        visibility: visible;
        opacity: 1;
    }
}

body.admin-bar {
    .mobile-navigation-wrapper {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        } 
    }
} 